---
---
@import "{{ site.theme }}";

font{
}
.site-header{
    background-color: rgb(220, 243, 225);
}
body{
    background-image: url(https://raw.githubusercontent.com/DarleneSepulveda/lis786-GardenProject/main/assets/pastelPlantPattern.jpg);
}

//exploring footer classes!
.site-footer{
    background-color: rgb(220, 243, 225);
    padding:3px;
    margin:0px;
    border:0px;
}
//The Garden Project Size
.site-title{
}
//Page content is basically the center wrap
.page-content{
    background-color: white;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
//It is the Title, for home.
.page-heading{
    font-size: 30px;
}
//This is the Title, for pages.
.post-title{
    font-size: 0px;
}
