---
---
@import "{{ site.theme }}";

font{
    font-family:'Times New Roman', Times, serif;
}
head{
    visibility: hidden;
}
body{
    background-color: rgb(220, 243, 225);
}
main{
    background-color: white;
    margin: auto;
}
footer{
    margin: 10px, 10px;
}

//The Garden Project Size
.site-title{
}
//Page content is similar to main, as far as I know.
.page-content{
    background-color:red;
    margin: 100px, 0px;
}
//It is the Title, for home.
.page-heading{
    font-size: 30px;
}
//This is the Title, for pages.
.post-title{
    font-size: 0px;
}
