---
---
@import "{{ site.theme }}";

font{
}
head{
    background-color: aqua;
}
body{
    background-color: rgb(220, 243, 225);
}
main{
}
footer{
    padding:0px;
}

//The Garden Project Size
.site-title{
}
//Page content is similar to main, as far as I know.
.page-content{
    background-color: orange;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
//It is the Title, for home.
.page-heading{
    font-size: 30px;
}
//This is the Title, for pages.
.post-title{
    font-size: 0px;
}
